<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}

<body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="irsad" class="img-fluid" title="irsad's technical">
                        </figure>
                    </div>
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To My About Page</p>
                        <h1>I Am A <span class="text-clr">Web Developer</span> And Web Designer</h1>
                        <a href="moreInfo"><button>More About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>    

    <!-- footer code -->

   {{>footer}}
</body>

</html>